<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Please enter your name to start</title>
   <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css"/>
</head>

<body>
  "Hello and welcome"
</body>
</html>