<!doctype html>
  <head>
    <meta charset="utf-8">
    <title>Please enter your name to start</title>
    <link href="<%= url("/styles.css") %>" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <h1>Please Enter Your Name:</h1>
    <form action="/my-handling-form-page" method="post">
      <ul>
        <li>
          <label for "p1_name">Player 1 Name:</label>
          <input type="text" name="p1_name">
        </li>
        <li>
          <label for "p2_name">Player 2 Name:</label>
          <input type="text" name="p2_name">
        </li>
        <li>
          <input class="submit" type="submit">
        </li>
      </ul>
    </form>
  </body>
</html>